<div class="addForm">
  <form action="" class="addTask" *ngIf="isMenuOpen">
    <div class="formFieldWrap">
      <label for="addTitle">Tytuł zadania</label>
      <input type="text" name="addTitle" id="addTitle" (input)="checkAdding()" [(ngModel)]="addTitle">
    </div>
    <div class="formFieldWrap">
      <label for="addPrio">Priorytet</label>
      <select name="addPrio" id="addPrio" [(ngModel)]="addPrio">
        <option value="low" selected class="prioLow">Niski</option>
        <option value="mid" class="prioMid">Średni</option>
        <option value="high" class="prioHigh">Wysoki</option>
      </select>
    </div>
    <button class="formBtn disabled" *ngIf="!readyToAdd else ready" disabled>Dodaj zadanie</button>
    <ng-template #ready>
      <button class="formBtn" (click)="addTask()">Dodaj zadanie</button>
    </ng-template>
  </form>
  <button class="addBtn" (click)="toggleMenu()">
    <span *ngIf="isMenuOpen else menuClosed">X</span>
    <ng-template #menuClosed>+</ng-template>
  </button>
</div>

<table>
  <tr>
    <th>Tytuł</th>
    <th>Priorytet</th>
    <th>Status</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let task of tasks; index as i" [ngClass]="{'taskFinished': task.status}">
    <td [ngClass]="{
      'prioLow': task.priority == 2,
      'prioMid': task.priority == 1,
      'prioHigh': task.priority == 0,
    }">{{task.title}}</td>
    <td *ngIf="task.priority == 0">Wysoki</td>
    <td *ngIf="task.priority == 1">Średni</td>
    <td *ngIf="task.priority == 2">Niski</td>
    <td *ngIf="task.status">Ukończone</td>
    <td *ngIf="!task.status">Nieukończone</td>
    <td>
      <button class="btn" (click)="task.finishTask()">Ukończ</button>
      <button class="btn" (click)="deleteTask(i)">Usuń</button>
    </td>
  </tr>
</table>