:root {
    --main-bg: rgba(20, 20, 20, 1);
    --main-col: rgba(255, 255, 255, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: var(--main-col);
}

body {
    min-height: 100vh;
    position: relative;
    background-color: var(--main-bg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-root {
    position: relative;
}

table {
    border: 1px solid var(--main-col);
    border-spacing: 0;
}

td,
th {
    border: 1px solid var(--main-col);
    padding: 5px;
}

.btn {
    margin: 0px 5px;
    padding: 3px;
    background-color: rgba(50, 50, 50, 1);
    border: 1px solid var(--main-col);
    cursor: pointer;
    transition-duration: 250ms;
}

.btn:hover {
    background-color: var(--main-bg);
}